/* Estilos globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1abc9c;
  background-repeat: repeat;
  background-size: 200px 200px;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

.nav-title img{
  margin: 0 auto;
  height: 50px;
}

.about{
  max-width: 1100px;
        margin: 10px auto;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: #61876E;
  margin-top: 5px;
  color: #fff;
  border: none;
}

.btn-menu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn-menu {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .menu li {
    margin-bottom: 0.5rem;
  }
  .menu li:last-child {
    margin-bottom: 0;
  }
  .menu li a {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #333;
    background-color: #f7f7f7;
  }
}

/* Estilos específicos para o layout do Plant Care */

header {
  background-color: #1abc9c;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

/*-------------nav----------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  padding: 0 20px;
  border-bottom: #61876E solid 5px;
  color: #61876E;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #61876E;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #61876E;
}

.nav-links a:hover {
  color: #ccc;
}

@media (max-width:450px) {
  #recursos{
    display: none;
  }

  #sobre{
    display: none;
  }
}

.hero {
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem;
  color: #fff;
}

.features {
  max-width: 1000px;
  margin: 10px auto;
  padding: 50px 0;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.card i {
  font-size: 48px;
  color: #00b894;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card p {
  font-size: 18px;
  line-height: 1.5;
  color: #777;
}


footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 2rem
}

html {
  scroll-behavior: smooth;
}

/*-----------plantas contempladas--------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about h1{
  text-align: center;
  margin-top: 30px;
}

.card2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
  width: 300px;
  transition: transform .2s;
}

.card2:hover{
  transform: scale(1.1);
}

.card2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card2 h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px 20px;
}

.card2 p {
  font-size: 16px;
  margin: 10px 20px 20px;
}

@media screen and (max-width: 768px) {
  .card2 {
    width: 100%;
  }
}

.center-container {
    text-align: center; /* Alinhe o texto ao centro */
}
/* Estilize o h1 para dar uma largura fixa e centralizá-lo */
h1 {
    width: 50%; /* Defina a largura desejada */
    margin: 0 auto; /* Defina as margens automáticas horizontalmente */
}

.plantas_lista_catalogo {
    list-style-type: disc; /* Define o tipo de marcador (pode ser 'disc', 'circle', etc.) */
    margin: 10px; /* Adiciona margem externa */
    padding: 0; /* Define o preenchimento interno para remover o recuo padrão */
    color: #00b894; /* Define a cor do texto da lista */
}
