<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Begônia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Begônia </u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Begônias preferem solo que seja bem drenado, pois raízes encharcadas podem levar ao apodrecimento. Use uma mistura de solo de boa qualidade que inclua perlita ou areia para melhorar a drenagem.</li>
                <br>
                <li>Regue suas begônias quando o topo do solo estiver seco ao toque, mas não completamente ressecado. A frequência de rega dependerá das condições ambientais e do tipo de begônia. Em média, regar a cada 1-2 semanas é uma diretriz geral.</li>
                <br>
                <li>Evite que a água entre em contato com as folhas, pois o excesso de umidade nas folhas pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>Regue as begônias pela manhã para que o excesso de umidade evapore durante o dia.</li>
                <br>
                <li>Durante os meses de inverno, quando as begônias podem entrar em dormência ou crescer mais lentamente, reduza a frequência de rega. Monitore o solo para evitar rega excessiva.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Begônias geralmente preferem luz indireta brilhante. Coloque suas plantas perto de janelas com cortinas leves ou onde recebam luz filtrada.</li>
                <br>
                <li>Evite a exposição direta ao sol forte, pois isso pode danificar as folhas. Algumas begônias, como a begônia rex, são especialmente sensíveis à luz solar direta.</li>
                <br>
                <li>Algumas variedades de begônias, como as begônias de flor, podem tolerar alguma luz solar direta, mas geralmente se saem bem em luz indireta brilhante.</li>
                <br>
                <li>Se você não tiver acesso a luz natural adequada, pode usar luzes de crescimento artificial para suplementar a iluminação. As luzes de crescimento LED podem ser uma opção eficaz.</li>
                <br>
                <li>Gire suas begônias regularmente para garantir que todos os lados da planta recebam luz de maneira uniforme.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre a Begônia</h2>
            <ul class="plantas_lista_catalogo">
                <li>O gênero Begonia é um dos maiores gêneros de plantas com flores, com mais de 1.800 espécies conhecidas, além de inúmeras variedades e híbridos.</li>
                <br>
                <li>As begônias são valorizadas não apenas por suas flores, mas também por sua folhagem atraente. Algumas variedades possuem folhas ornamentais com padrões únicos.</li>
                <br>
                <li>As begônias de interior são frequentemente escolhidas devido à sua adaptabilidade a ambientes fechados com luz moderada. Elas são ótimas opções para decorar o interior de casas e escritórios.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>