<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre o Cacto</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
              <li>Cactos são conhecidos por sua tolerância à seca. Eles preferem ser regados de forma irregular, permitindo que o solo seque completamente entre as regas. A frequência de rega dependerá das condições climáticas, do tipo de solo e do tamanho do vaso, mas geralmente, uma vez a cada 2 a 4 semanas é suficiente.</li>
              <br>
              <li> O solo para cactos deve ser bem drenado para evitar o acúmulo de água ao redor das raízes. Use uma mistura de solo para cactos ou adicione areia ou perlita ao solo para melhorar a drenagem.</li>
              <br>
              <li> A rega excessiva é uma das maiores ameaças à saúde dos cactos. Evite encharcar o solo, pois isso pode levar ao apodrecimento das raízes.</li>
              <br>
              <li>Reduza a frequência de rega no inverno, quando os cactos entram em dormência. Eles precisam de menos água durante esse período.</li>
              <br>
              <li>Quando regar, faça-o de manhã para permitir que o excesso de água evapore durante o dia, evitando que a umidade fique presa à noite.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
              <li>A maioria dos cactos precisa de luz solar direta para prosperar. Coloque seus cactos em um local onde recebam pelo menos 6 horas de luz solar direta por dia. As janelas ensolaradas ou um local ao ar livre são ideais.</li>
              <br>
              <li> Se você não pode fornecer luz solar direta, certifique-se de que eles recebam luz indireta brilhante durante a maior parte do dia. Luz insuficiente pode fazer com que os cactos cresçam de forma desigual e estendida.</li>
              <br>
              <li> Para garantir que seus cactos cresçam de maneira uniforme, gire-os regularmente para que todas as partes da planta recebam luz igualmente.</li>
              <br>
              <li>Tenha cuidado para não expor seus cactos a luz solar muito intensa, especialmente nas horas mais quentes do dia, pois isso pode causar queimaduras nas plantas. Se necessário, proteja-os do sol forte.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre o Cacto</h2>
            <ul class="plantas_lista_catalogo">
              <li>A maioria das espécies de cactos é nativa das Américas, especialmente da América do Norte, América Central e América do Sul. Eles se adaptaram a uma ampla gama de climas, desde desertos até florestas tropicais.</li>
              <br>
              <li>Os cactos são conhecidos por sua capacidade de armazenar água em seus caules, folhas ou raízes. Essa adaptação permite que eles sobrevivam em ambientes áridos, onde a água é escassa.</li>
              <br>
              <li>A maioria dos cactos possui espinhos ou pêlos que desempenham várias funções, incluindo a proteção contra herbívoros, a redução da perda de água e a regulação da temperatura.</li>
              <br>
              <li>Alguns cactos, como o cacto de pera-espinhosa (Opuntia), produzem frutas comestíveis que são usadas em várias receitas e bebidas, como sucos e licores.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>