<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisântemo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre o Crisântemo</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Os crisântemos preferem um solo levemente úmido. Regue profundamente quando o topo do solo estiver seco ao toque, mas evite deixar o solo ficar encharcado.</li>
                <br>
                <li>Evite molhar as folhas e flores ao regar. É melhor direcionar a água diretamente na base da planta para evitar doenças fúngicas.</li>
                <br>
                <li>Certifique-se de que o vaso ou canteiro de crisântemos tenha boa drenagem. Solo encharcado pode levar ao apodrecimento das raízes.</li>
                <br>
                <li>Durante o inverno, quando os crisântemos entram em dormência, reduza a frequência de rega, pois a planta requer menos água.</li>
                <br>
                <li> Evite regar com água muito fria, pois isso pode causar choque térmico nas raízes. A água à temperatura ambiente é preferível.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Os crisântemos prosperam em plena luz solar direta. Eles preferem receber pelo menos 6 horas de luz solar direta por dia para florescerem bem.</li>
                <br>
                <li>Se a exposição ao sol direto for limitada, os crisântemos ainda podem crescer em luz indireta brilhante, mas a qualidade e quantidade das flores podem ser afetadas.</li>
                <br>
                <li>Em climas quentes, os crisântemos podem se beneficiar de alguma proteção contra o calor intenso. Sombreamento parcial durante as horas mais quentes do dia pode ajudar a evitar que as flores murchem.</li>
                <br>
                <li>Se você estiver cultivando crisântemos em vasos ou canteiros, gire as plantas regularmente para garantir que todos os lados da planta recebam luz de maneira uniforme.</li>
                <br>
                <li>Se você estiver cultivando crisântemos em ambientes fechados ou em locais com luz insuficiente, é possível complementar com luzes de crescimento para plantas.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre o Crisântemo</h2>
            <ul class="plantas_lista_catalogo">
                <li>O crisântemo é a flor nacional do Japão e é conhecido como "Kiku" em japonês. É um símbolo importante no país, presente na bandeira imperial e em muitos aspectos da cultura japonesa.</li>
                <br>
                <li>Em muitas culturas, os crisântemos são associados a sentimentos de amor, carinho e amizade. No entanto, no Ocidente, eles também são usados em arranjos florais fúnebres e são considerados símbolos de luto e morte.</li>
                <br>
                <li> Na medicina tradicional chinesa, várias partes do crisântemo, como as flores e folhas, são usadas para tratar uma variedade de condições de saúde, incluindo febre, dor de cabeça e inflamação.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>