<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Girassol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre o Girassol</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Girassóis preferem regas profundas e espaçadas em vez de regas frequentes. Isso incentiva o desenvolvimento de raízes mais profundas.</li>
                <br>
                <li>Antes de regar, verifique a umidade do solo pressionando o dedo cerca de 5 centímetros na terra. Se sentir que o solo está seco a essa profundidade, é hora de regar.</li>
                <br>
                <li>Embora os girassóis precisem de água, eles não toleram solo encharcado. Certifique-se de que o solo tenha boa drenagem para evitar o apodrecimento das raízes.</li>
                <br>
                <li>Ao regar, direcione a água diretamente na base da planta, evitando molhar as folhas, o que pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>Após o florescimento e quando as cabeças dos girassóis estiverem maduras, você pode reduzir a rega, pois a planta estará entrando em sua fase de secagem natural.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Girassóis prosperam em luz solar direta. Eles precisam de pelo menos 6 a 8 horas de luz solar direta por dia para crescerem e florescerem bem.</li>
                <br>
                <li>Os girassóis jovens exibem heliotropismo, o que significa que suas cabeças seguem o movimento do sol ao longo do dia. Isso é uma adaptação para maximizar a exposição ao sol.</li>
                <br>
                <li>Os girassóis, especialmente os de caule alto, podem ser afetados por ventos fortes. Para protegê-los, você pode fornecer um suporte ou plantá-los em locais mais abrigados.</li>
                <br>
                <li>Ao plantar girassóis, dê espaço suficiente entre as plantas para que elas não compitam por luz solar e recursos.</li>
                <br>
                <li>Certifique-se de que o solo onde você planta girassóis seja bem preparado, com bom conteúdo orgânico e nutrientes para apoiar o crescimento saudável.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre o Girassol</h2>
            <ul class="plantas_lista_catalogo">
                <li>Os girassóis jovens exibem heliotropismo, o que significa que suas cabeças seguem o movimento do sol durante o dia, acompanhando-o de leste a oeste. Esse comportamento é mais evidente nas fases iniciais de crescimento e ajuda a maximizar a exposição ao sol para a fotossíntese.</li>
                <br>
                <li>Os girassóis são nativos da América do Norte, onde eram cultivados por várias tribos indígenas, que usavam as sementes para alimentos e extraíam óleo das sementes</li>
                <br>
                <li>Os girassóis têm muitos significados simbólicos, incluindo alegria, felicidade, lealdade e vitalidade. Eles também são frequentemente associados ao otimismo e à luz do sol.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>