<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hortênsia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Hortênsia</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Hortênsias preferem regas profundas e regulares. Durante os períodos mais quentes e secos, elas podem precisar de mais água. Regue na base da planta, evitando molhar as folhas.</li>
                <br>
                <li>Antes de regar, verifique a umidade do solo. Afunde o dedo no solo a cerca de 2-5 centímetros de profundidade. Se o solo estiver seco a essa profundidade, é hora de regar.</li>
                <br>
                <li>A aplicação de cobertura morta (mulch) ao redor da base das hortênsias pode ajudar a manter a umidade do solo e evitar a evaporação excessiva da água.</li>
                <br>
                <li>Evite o encharcamento, pois o solo constantemente encharcado pode levar ao apodrecimento das raízes. Certifique-se de que o solo tenha boa drenagem.</li>
                <br>
                <li>É aconselhável regar hortênsias pela manhã, pois isso permite que a água seja absorvida antes que as temperaturas mais altas do dia levem à evaporação. A rega noturna pode aumentar o risco de doenças fúngicas.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Hortênsias preferem luz indireta brilhante a sombra parcial. Evite a exposição direta ao sol forte, especialmente nas regiões com verões quentes, pois isso pode queimar as folhas.</li>
                <br>
                <li> Existem várias variedades de hortênsias, e as necessidades de luz podem variar. Hortênsias de folhas grandes (Hortensia macrophylla) geralmente preferem sombra parcial, enquanto as hortênsias de panícula (Hydrangea paniculata) podem tolerar mais luz direta.</li>
                <br>
                <li>Em climas quentes, as hortênsias podem se beneficiar da sombra durante as horas mais quentes do dia.</li>
                <br>
                <li>Se as hortênsias estiverem em um local onde recebem luz de apenas um lado, gire as plantas regularmente para garantir que todas as partes da planta recebam luz uniformemente.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre a Hortênsia</h2>
            <ul class="plantas_lista_catalogo">
                <li>A cor das flores de hortênsia pode variar de acordo com o pH do solo em que são cultivadas. </li>
                <br>
                <li>Em solos mais ácidos, as flores tendem a ser azuis ou arroxeadas, enquanto em solos alcalinos, elas tendem a ser cor-de-rosa.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>