<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
            <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre o Jasmin</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Jasmins precisam de um solo levemente úmido, mas não encharcado. A frequência de rega dependerá das condições climáticas e do tipo de solo. Em geral, regue quando o topo do solo começar a secar. No verão, pode ser necessário regar com mais frequência do que no inverno.</li>
                <br>
                <li>Certifique-se de que o vaso ou local de plantio tenha um sistema de drenagem eficaz para evitar o acúmulo de água em torno das raízes, o que pode levar ao apodrecimento.</li>
                <br>
                <li> Certifique-se de que o vaso ou local de plantio tenha um sistema de drenagem eficaz para evitar o acúmulo de água em torno das raízes, o que pode levar ao apodrecimento.</li>
                <br>
                <li>Evite regar em excesso, pois jasmins são sensíveis ao encharcamento. A rega matinal é geralmente preferível, pois as plantas têm tempo para secar durante o dia.</li>
              	<br>
                <li>A aplicação de cobertura morta (mulch) ao redor da base da planta pode ajudar a reter a umidade do solo e reduzir a necessidade de rega frequente.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Jasmins geralmente prosperam em locais com luz solar direta ou luz brilhante indireta. Eles preferem receber pelo menos 4-6 horas de luz solar direta por dia. Se estiverem em ambientes internos, coloque-os perto de janelas ensolaradas.</li>
                <br>
                <li>Embora gostem de luz solar, é importante proteger as plantas dos raios solares mais intensos, especialmente durante as horas de pico do meio-dia, para evitar queimaduras nas folhas.</li>
                <br>
                <li>Se estiverem em ambientes internos com pouca luz natural, você pode complementar a iluminação com luzes de cultivo ou lâmpadas fluorescentes para fornecer a quantidade necessária de luz.</li>
                <br>
                <li> Se você estiver cultivando jasmins em ambientes fechados, gire a planta periodicamente para que todas as partes recebam luz igualmente.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre o Jasmin</h2>
            <ul class="plantas_lista_catalogo">
                <li>O jasmim é frequentemente associado a significados simbólicos, como amor e beleza. Em muitas culturas, o jasmin é visto como um símbolo de amor verdadeiro, pureza, sensualidade e sorte.</li>
                <br>
                <li>O jasmin é famoso por seu perfume doce e cativante. É um ingrediente valioso na indústria de perfumes e é frequentemente usado para criar fragrâncias atraentes.</li>
                <br>
                <li>O chá de jasmin é uma bebida popular que combina chá verde ou chá preto com flores de jasmin. As flores de jasmin são usadas para infundir o chá com seu aroma distintivo.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>