<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lírio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre o Lírio</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Os lírios preferem solo úmido, mas não encharcado. Regue profundamente quando o topo do solo estiver seco ao toque, mas evite deixar o solo ficar constantemente encharcado, pois o excesso de água pode levar ao apodrecimento das raízes.</li>
                <br>
                <li>Ao regar, direcione a água diretamente na base da planta para evitar que a água entre em contato com as folhas e flores, o que pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>A aplicação de cobertura morta (mulch) ao redor da base dos lírios pode ajudar a manter a umidade do solo e evitar a evaporação excessiva da água.</li>
                <br>
                <li>Certifique-se de que o solo onde os lírios estão plantados tenha boa drenagem para evitar o acúmulo de água nas raízes.</li>
                <br>
                <li>Durante o inverno, quando os lírios entram em dormência, reduza a frequência de rega, pois a planta requer menos água.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Os lírios prosperam sob luz solar direta. Eles devem receber pelo menos 6 horas de luz solar direta por dia para florescerem bem.</li>
                <br>
                <li>Se a exposição direta ao sol for limitada, os lírios também podem crescer em luz indireta brilhante. No entanto, a qualidade e quantidade das flores podem ser afetadas.</li>
                <br>
                <li>Em climas muito quentes, os lírios podem se beneficiar de alguma proteção contra o calor intenso. Sombreamento parcial durante as horas mais quentes do dia pode ajudar a evitar que as flores murchem.</li>
                <br>
                <li>Se você estiver cultivando lírios em vasos ou canteiros, gire as plantas regularmente para garantir que todos os lados da planta recebam luz uniformemente.</li>
                <br>
                <li>Se você estiver cultivando lírios em ambientes fechados com luz insuficiente, é possível complementar com luzes de crescimento para plantas.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre o Lírio</h2>
            <ul class="plantas_lista_catalogo">
                <li>Os lírios são frequentemente associados à pureza, inocência e virtude. Em muitas culturas, eles são usados em casamentos e cerimônias religiosas como símbolo de pureza espiritual e renovação.</li>
                <br>
                <li>Muitas variedades de lírios são conhecidas pelo seu perfume encantador. O lírio "Casa Blanca" é um exemplo notável de uma variedade com um aroma doce e marcante.</li>
                <br>
                <li>Os lírios são a flor nacional de vários países, incluindo França, Polônia, Eslovênia e Itália.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>