<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orquídea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Orquídea</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Orquídeas não gostam de solo encharcado. Regue-as quando o substrato estiver quase seco, mas não completamente seco. A frequência de rega dependerá da umidade, da temperatura e do tipo de orquídea. Em média, a cada 1-2 semanas é um bom ponto de partida</li>
                <br>
                <li>Certifique-se de que o vaso ou o recipiente em que a orquídea está plantada tenha boa drenagem para evitar o acúmulo de água ao redor das raízes.</li>
                <br>
                <li>Durante o inverno, quando as orquídeas geralmente entram em repouso, reduza a frequência de rega. Verifique a umidade do substrato antes de regar.</li>
                <br>
                <li>É recomendável regar suas orquídeas pela manhã, permitindo que o excesso de umidade evapore durante o dia. Isso ajuda a prevenir o apodrecimento das raízes.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Orquídeas geralmente prosperam em luz indireta brilhante. Evite a exposição direta ao sol forte, pois as folhas podem queimar. Coloque as orquídeas perto de janelas com cortinas ou onde recebam luz filtrada.</li>
                <br>
                <li>As necessidades de luz podem variar de acordo com o tipo de orquídea. Orquídeas do gênero Phalaenopsis preferem luz indireta brilhante, enquanto algumas orquídeas terrestres, como Cymbidiums, toleram mais luz direta.</li>
                <br>
                <li>Para garantir que todas as partes da orquídea recebam luz de maneira uniforme, gire as plantas regularmente.</li>
                <br>
                <li>Se a luz natural não for suficiente, você pode complementar com luzes artificiais de crescimento projetadas para orquídeas. Essas luzes costumam ser necessárias em ambientes internos com pouca luz.</li>
                <br>
                <li>Orquídeas também podem ser sensíveis à temperatura e umidade. Mantenha-as em ambientes onde a temperatura seja moderada e evite correntes de ar.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre a Orquídea</h2>
            <ul class="plantas_lista_catalogo">
                <li>As orquídeas são uma das maiores famílias de plantas do mundo, com mais de 25.000 espécies conhecidas e inúmeras variedades híbridas.</li>
                <br>
                <li>A baunilha, uma das especiarias mais populares do mundo, é derivada das vagens de uma espécie de orquídea, a Vanilla planifolia. A extração da baunilha é um processo complexo.</li>
                <br>
                <li>Em muitas culturas, as orquídeas são símbolos de beleza, amor, luxo e requinte. Elas são frequentemente usadas em arranjos florais e buquês de casamento.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>