<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Rosa</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>As rosas preferem regas profundas e infrequentes em vez de regas superficiais frequentes. Regue diretamente na base da planta para evitar molhar as folhas e flores, pois isso pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>Antes de regar, verifique a umidade do solo. Espete o dedo ou um instrumento no solo a uma profundidade de cerca de 5 cm. Se sentir umidade, espere para regar. Quando o solo estiver seco a essa profundidade, é hora de regar.</li>
                <br>
                <li>Evite o encharcamento do solo, pois o acúmulo de água nas raízes pode levar ao apodrecimento. Certifique-se de que o solo tenha boa drenagem.</li>
                <br>
                <li>É recomendável regar suas rosas pela manhã, pois isso permite que a água seja absorvida antes que as temperaturas mais altas do dia levem à evaporação. A rega noturna pode aumentar o risco de doenças fúngicas.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Rosas precisam de pelo menos 6 horas de luz solar direta todos os dias para florescerem bem. Escolha um local no jardim onde as rosas recebam luz solar plena.</li>
                <br>
                <li>Evite plantar rosas em áreas com sombra densa, pois a falta de luz solar adequada pode resultar em crescimento fraco e menos flores.</li>
                <br>
                <li>Em climas muito quentes, as rosas podem apreciar alguma proteção contra o calor intenso do meio-dia. Uma sombra parcial pode ser benéfica em regiões com verões quentes.</li>
                <br>
                <li> Se as rosas estiverem em um local onde recebem luz de apenas um lado, gire as plantas regularmente para garantir que todos os lados da planta recebam luz uniformemente.</li>
                <br>
                <li>A poda adequada das rosas também é importante para permitir a entrada de luz e ar nas partes internas da planta.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre a Rosa</h2>
            <ul class="plantas_lista_catalogo">
                <li>As rosas são cultivadas há milênios. Os registros mais antigos de cultivo de rosas datam de cerca de 5.000 anos, e elas eram flores apreciadas pelos antigos egípcios, gregos e romanos.</li>
                <br>
                <li>As rosas são frequentemente associadas ao amor e à paixão. A rosa vermelha é particularmente conhecida como um símbolo do amor romântico.</li>
                <br>
                <li>Após o bombardeio de Hiroshima durante a Segunda Guerra Mundial, as rosas foram uma das primeiras plantas a florescer novamente na cidade.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>