<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samambaia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
            <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Samambaia</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>As samambaias preferem solo uniformemente úmido, mas não encharcado. O solo deve ser mantido levemente úmido, mas evite o excesso de água que pode levar ao apodrecimento das raízes.</li>
                <br>
                <li>A rega deve ser feita regularmente, especialmente durante os meses mais quentes. Certifique-se de que o solo não seque completamente entre as regas.</li>
                <br>
                <li>Use água à temperatura ambiente para regar sua samambaia. Evite água muito fria, que pode prejudicar as raízes.</li>
                <br>
                <li>Tente regar diretamente no solo e evite molhar as folhas, pois a água nas folhas pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>Use um vaso com boa drenagem para evitar o acúmulo de água nas raízes. Certifique-se de que o pote tenha orifícios de drenagem.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>As samambaias preferem luz indireta brilhante. Evite a luz solar direta, que pode queimar as folhas delicadas. Coloque sua samambaia perto de uma janela com cortina ou onde ela receba luz indireta filtrada.</li>
                <br>
                <li>Se você deseja colocar sua samambaia em uma área com alguma luz direta, certifique-se de que seja apenas luz suave da manhã ou da tarde. Uma exposição prolongada à luz solar direta pode danificar as folhas.</li>
                <br>
                <li> Se a sua casa não possui luz natural suficiente, você pode complementar com luzes de crescimento LED para fornecer a iluminação necessária para sua samambaia.</li>
                <br>
                <li>Gire sua samambaia ocasionalmente para garantir que todos os lados recebam luz uniformemente.</li>
                <br>
                <li>As samambaias apreciam um ambiente um pouco mais úmido do que algumas outras plantas de interior. Manter a umidade adequada em seu espaço ou usar uma bandeja de água próxima à planta pode ser benéfico.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre a Samambaia</h2>
            <ul class="plantas_lista_catalogo">
                <li>As samambaias existem na Terra há mais de 300 milhões de anos, tornando-as uma das plantas mais antigas do planeta. Elas coexistiram com os dinossauros e testemunharam grandes mudanças no ambiente terrestre ao longo das eras.</li>
                <br>
                <li>Diferentemente de muitas outras plantas, as samambaias não produzem flores. Em vez disso, elas se reproduzem por meio de esporos, que são pequenas estruturas reprodutivas encontradas na parte inferior das folhas.</li>
                <br>
                <li>Samambaias são conhecidas por melhorar a qualidade do ar em ambientes fechados, pois absorvem poluentes e liberam oxigênio.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>