<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suculentas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
          <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre as Suculentas</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
                <li>O solo para suculentas deve ser bem drenado para evitar o acúmulo de água ao redor das raízes. Use uma mistura de solo específica para suculentas ou cactos, ou adicione areia ou perlita à mistura do solo para melhorar a drenagem.</li>
                <br>
                <li>As suculentas armazenam água em suas folhas e caules, tornando-as resistentes à seca. Regue apenas quando o solo estiver completamente seco, o que geralmente ocorre a cada 1-2 semanas, dependendo das condições ambientais.</li>
                <br>
                <li>Ao regar, direcione a água diretamente na base da planta e evite molhar as folhas, pois o excesso de umidade nas folhas pode levar ao desenvolvimento de doenças fúngicas.</li>
                <br>
                <li>Reduza a frequência de rega durante o inverno, pois a maioria das suculentas entra em um estado de dormência e precisa de menos água.</li>
                <br>
                <li>Se você estiver cultivando suculentas em vasos, escolha recipientes com furos de drenagem na parte inferior para permitir que o excesso de água escape.</li>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
                <li>Suculentas prosperam em luz solar direta ou pelo menos luz indireta brilhante. Coloque-as em locais onde recebam pelo menos 4-6 horas de luz solar direta por dia.</li>
                <br>
                <li>Se você não tiver acesso a luz solar direta, as suculentas podem crescer bem em luz indireta brilhante. Evite sombra profunda, pois isso pode levar ao alongamento das hastes.</li>
                <br>
                <li>Gire suas suculentas regularmente para garantir que todos os lados da planta recebam luz uniformemente.</li>
                <br>
                <li>Se você estiver cultivando suculentas em ambientes fechados com luz insuficiente, pode complementar com luzes de crescimento LED projetadas para plantas suculentas.</li>
                <br>
                <li>As suculentas geralmente preferem temperaturas moderadas e podem ser sensíveis a extremos de calor ou frio.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidade sobre as Suculentas</h2>
            <ul class="plantas_lista_catalogo">
                <li>As suculentas são conhecidas por sua capacidade de armazenar água em suas folhas e caules, o que as torna altamente resistentes à seca. Essa característica permite que elas sobrevivam em ambientes áridos.</li>
                <br>
                <li>Embora os cactos sejam um subconjunto das suculentas, todas as suculentas não são cactos. Cactos são um grupo de suculentas específicas, geralmente caracterizadas por suas espinhas.</li>
                <br>
                <li>Algumas suculentas apresentam folhas coloridas, como vermelho, laranja ou roxo, adicionando um toque de cor aos arranjos de plantas.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>