<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violeta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="keywords" content="Rega, plantas, cuidar de plantas, gerenciamento, cuidado">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84d31f13e8.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="logo">
          <a href="{{ url_for('index') }}">SINCPLAN</a>
        </div>
        <div class="nav-links">
            <a id="recursos" href="{{ url_for('catalogo_plantas') }}">Catalogo de Plantas</a>
        </div>
      </nav>
      
      <main>
        <section id="features" class="features">
          <h2><u>Sobre a Violeta</u></h2>
          </div>
          <div class="card">
            <i class="fas fa-tint"></i>
            <h3>Informações sobre irrigação</h3>
            <ul class="plantas_lista_catalogo">
              <li>As violetas preferem um solo que retenha umidade, mas com boa drenagem. Use um solo específico para violetas ou uma mistura de turfa, vermiculita e perlita para garantir boa aeração e drenagem.</li>
              <br>
              <li> É essencial manter o solo levemente úmido, mas não encharcado. Regue as violetas quando o topo do solo estiver seco ao toque. A rega moderada e regular é preferível.</li>
              <br>
              <li> As violetas são sensíveis ao cloro presente na água. Use água filtrada ou deixe a água descansar por algumas horas para permitir que o cloro evapore antes de regar as plantas.</li>
              <br>
              <li>Evite molhar as folhas, pois a umidade excessiva nelas pode causar manchas e propagação de doenças fúngicas.</li>
              <br>
            </ul>
          </div>
          <div class="card">
            <i class="fas fa-sun"></i>
            <h3>Informações sobre iluminação</h3>
            <ul class="plantas_lista_catalogo">
              <li>As violetas preferem luz indireta brilhante. Coloque-as perto de uma janela virada para o leste ou oeste, onde recebam luz filtrada durante a maior parte do dia. Luz direta intensa do sol pode queimar as folhas das violetas.</li>
              <br>
              <li>Em ambientes internos com iluminação insuficiente, você pode considerar o uso de luzes artificiais de crescimento para fornecer a quantidade necessária de luz, especialmente no inverno</li>
              <br>
              <li>Gire as plantas regularmente para garantir um crescimento uniforme, já que as violetas têm uma tendência a crescer em direção à fonte de luz.</li>
              <br>
              <li>Violetas preferem temperaturas moderadas e não gostam de ambientes muito secos. Mantenha-as em locais onde a temperatura varie entre 18°C e 24°C e evite correntes de ar.</li>
            </ul>
          </div>
        </section>
        <section id="about" class="about">
            <h2>Curiosidades sobre a Violeta</h2>
            <ul class="plantas_lista_catalogo">
                <li>As flores das violetas vêm em uma ampla gama de cores, incluindo roxo, azul, rosa, branco, amarelo e até bicolores. Algumas variedades também têm padrões nas pétalas.</li>
                <br>
                <li>As violetas são frequentemente associadas a símbolos de modéstia, humildade e virtude. Elas são consideradas flores de amor e respeito.</li>
                <br>
                <li>Algumas variedades de violetas, como a Saintpaulia confusa, têm flores que permanecem fechadas durante o dia e só se abrem à noite.</li>
            </ul>
        </section>
            <footer>
                <p>&copy; 2023 SINCPLAN - Todos os direitos reservados.</p>
              </footer>
</body>
</html>